<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-10 col-lg-6 col-md-8">
        <h2>Ingresa los datos para recuperar la Contraseña</h2>
        <form>
          <div class="mb-3 row">
            <label for="phone" class="col-sm-4 col-form-label">Teléfono</label>
            <div class="col-sm-8">
              <input type="tel" class="form-control" id="phone" placeholder="Teléfono">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="email" class="col-sm-4 col-form-label">Correo Electrónico</label>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="email" placeholder="Correo Electrónico">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="newPassword" class="col-sm-4 col-form-label">Nueva Contraseña</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="newPassword" placeholder="Nueva Contraseña">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="confirmPassword" class="col-sm-4 col-form-label">Confirmación de Contraseña Nueva</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirmación de Contraseña Nueva">
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-8">
              <button type="submit" class="btn btn-primary w-100">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  