<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-10 col-md-12 order-1 col-lg-5">
      <form class="p-5" (ngSubmit)="onRegister()">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            name="nombre"
            [(ngModel)]="usuario.nombres"
          />
        </div>
        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido</label>
          <input
            type="text"
            class="form-control"
            id="apellido"
            name="apellido"
            [(ngModel)]="usuario.apellidos"
          />
        </div>
        <div class="mb-3">
          <label for="identificacion" class="form-label">Identificación</label>
          <input
            type="text"
            class="form-control"
            id="identificacion"
            name="identificacion"
            [(ngModel)]="usuario.identificacion"
          />
        </div>
        <div class="mb-3">
          <label for="correo" class="form-label">Correo</label>
          <input
            type="email"
            class="form-control"
            id="correo"
            name="correo"
            [(ngModel)]="usuario.correo"
          />
        </div>
        <div class="mb-3">
          <label for="contrasenia" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="contrasenia"
            name="contrasenia"
            [(ngModel)]="usuario.contrasenia"
          />
        </div>
        <button
          type="submit"
          class="btn btn-outline-success d-block mx-auto col-12 rounded-pill"
        >
          Registrate
        </button>
      </form>
    </div>
    <div class="col-10 col-md-12 col-lg-7">
      <div class="image-container position-relative">
        <img
          src="../../../assets/images/register.jpg"
          alt="Imagen"
          class="img-fluid"
          width="100%"
        />
        <div
          class="text-overlay position-absolute top-50 start-50 translate-middle text-center text-white"
        >
          <h1>Table Booker</h1>
          <h2>"Donde la comida es arte"</h2>
          <h3>Registrate para poder ser parte de nosotros</h3>
        </div>
      </div>
    </div>
  </div>
</div>
