<div class="container-fluid bg-image">
  <div class="row justify-content-center text-center align-items-center m-0">
    <div class="col-10 col-md-6 col-lg-8">
      <h1 class="text-center my-4">Formulario de Reservación</h1>
      <div class="card shadow-lg mb-5">
        <div class="card-body p-5">
          <form
            (ngSubmit)="
              isEditing
                ? updateReserva(reserva.id_reserva, reserva)
                : saveReserva(reserva)
            "
          >
            <div class="mb-3 row">
              <div class="col-lg-3">
                <label for="nombre_reserva" class="form-label"
                  >A nombre de quien es la reservacion</label
                >
              </div>
              <div class="col-lg-9">
                <input
                  type="text"
                  class="form-control"
                  id="nombre_reserva"
                  name="nombre_reserva"
                  [(ngModel)]="reserva.nombre_reservacion"
                />
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col-lg-3">
                <label for="fechaReservacion" class="form-label"
                  >Fecha de Reservación</label
                >
              </div>
              <div class="col-lg-9">
                <input
                  type="date"
                  class="form-control"
                  id="fechaReservacion"
                  name="fechaReservacion"
                  [(ngModel)]="reserva.fecha_reserva"
                />
              </div>
            </div>
            <div class="mb-1 row">
              <div class="col-lg-3">
                <label for="mesa" class="form-label">Mesa</label>
              </div>
              <div class="col-lg-7">
                <select
                  class="form-select form-select-lg"
                  id="mesa"
                  name="mesa"
                  [(ngModel)]="reserva.mesa"
                  (change)="calcularTotalReserva()"
                  [disabled]="isEditing"
                >
                  <option *ngFor="let mesa of mesasList" [ngValue]="mesa">
                    {{ "Pesa para: " + mesa.cantidad_personas }} /
                    {{ "Planta: " + mesa.planta }} /
                    {{ mesa.esVip ? "Es vip" : "No es vip" }} /
                    {{ mesa.estado ? "Disponible" : "Ocupada" }}
                  </option>
                </select>
              </div>
              <div class="col-lg-2">
                C. Reserva Mesa: {{ reserva.mesa.costo_mesa }}
              </div>
            </div>
            <!-- Boton agregar mesa -->
            <div class="row mb-3">
              <div class="col" class="mt-3">
                <label cLabel class="me-2"
                  >Precio total: ${{ totalReserva }}</label
                >
              </div>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary rounded-pill">
                {{ isEditing ? "Actualizar" : "Guardar" }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
