.nav-tabs {
    margin-bottom: 15px;
  }
  
  .tab-content {
    padding: 15px;
  }

  .bg-image{
    //background-image: url('../../../assets/images/profile.jpg');
    background-color: transparent !important;
}